$font-family-base: 'Mulish', sans-serif;
$headings-font-family: 'DM Serif Display', serif;

// $font-size-base: 0.9rem;
// $line-height-base: 1.6;
$font-weight-normal: 300;

$link-decoration: none !default;

$primary:  #dc3545;

